<div
  class="awesome_background fixed top-0 left-0 w-full h-full pointer-events-none -z-1"
>
</div>

<style is:global>
  @reference "@/styles/global.css";
  .awesome_background {
    background: linear-gradient(
      45deg,
      hsla(220, 15%, 12%, 0) 20.79%,
      hsla(220, 90%, 60%, 0.089) 40.92%,
      hsla(220, 15%, 12%, 0) 70.35%
    );
  }
</style>
