---

---

<div id="blob" class="hidden lg:block" transition:persist></div>
<div id="blur" class="hidden lg:block" transition:persist></div>

<style>
  #blob {
    height: 20vmax;
    aspect-ratio: 1 / 1;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: var(--accent-primary);
    opacity: 0.15;
  }

  #blur {
    height: 100%;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(12vmax);
    z-index: 2;
  }
</style>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const blob = document.getElementById("blob");

    window.onpointermove = (event) => {
      const { clientX, clientY } = event;

      blob.animate(
        {
          left: `${clientX}px`,
          top: `${clientY}px`,
        },
        { duration: 0, fill: "forwards" }
      );
    };
  });
</script>
