---
import Link from "@/components/ui/Link.astro";
---

<section class="space-y-4 p-6 flex flex-row w-full justify-evenly">
  <a href="/home" class=""> <img src="/Logo.svg" alt="Logo" class="h-9" /></a>
  <div class="flex flex-row gap-4">
    <Link href="/article">Articles</Link>
    <Link href="/project">Projects</Link>
  </div>
</section>
