---

---

<div
  id="theme-selector"
  class="z-30 p-4 lg:p-20 flex flex-row-reverse items-center gap-6"
>
  <div
    id="theme-toggle-btn"
    class="items-center justify-center aspect-square lg:h-16 cursor-pointer flex"
  >
    <div
      class="theme-option h-4 w-4 lg:h-3 lg:w-3 bg-text_base text-text_ base cursor-pointer rounded-[50%]"
    >
    </div>
  </div>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const themeToggleButton = document.getElementById("theme-toggle-btn");

    // Toggle between themes on click
    themeToggleButton?.addEventListener("click", () => {
      const currentTheme = localStorage.getItem("site-theme") || "light";
      const newTheme = currentTheme === "light" ? "dark" : "light";
      applyTheme(newTheme);
    });

    const applyTheme = (theme: string) => {
      document.documentElement.setAttribute("data-theme", theme);
      localStorage.setItem("site-theme", theme);
    };

    // Initialize theme
    const currentTheme = localStorage.getItem("site-theme") || "dark";
    applyTheme(currentTheme);
  });
</script>
