---
import { Icon } from "astro-icon/components";
import Button from "@/components/ui/Button.astro";
const { prevUrl, nextUrl, firstUrl, lastUrl } = Astro.props;
---

<div class="flex flex-row gap-4 justify-center items-center">
  {
    prevUrl ? (
      <div class="items-center justify-center aspect-square lg:h-16 cursor-pointer flex">
        <a href={prevUrl}>
          <Button variant="ghost" size="sm">
            <Icon
              name="arrow-up"
              class="h-6 w-6 lg:h-5 lg:w-5 transition-transform duration-300 ease-in-out -rotate-90"
            />
          </Button>
        </a>
      </div>
    ) : (
      <div class="items-center justify-center aspect-square lg:h-16 flex">
        <a>
          <Button variant="ghost" size="sm">
            <Icon
              name="arrow-up"
              class="h-6 w-6 lg:h-5 lg:w-5 transition-transform duration-300 ease-in-out -rotate-90 text-text_subtle"
            />
          </Button>
        </a>
      </div>
    )
  }
  {
    nextUrl ? (
      <div class="items-center justify-center aspect-square lg:h-16 cursor-pointer flex">
        <a href={nextUrl}>
          <Button variant="ghost" size="sm">
            <Icon
              name="arrow-up"
              class="h-6 w-6 lg:h-5 lg:w-5 transition-transform duration-300 ease-in-out rotate-90"
            />
          </Button>
        </a>
      </div>
    ) : (
      <div class="items-center justify-center aspect-square lg:h-16 flex">
        <a>
          <Button variant="ghost" size="sm">
            <Icon
              name="arrow-up"
              class="h-6 w-6 lg:h-5 lg:w-5 transition-transform duration-300 ease-in-out rotate-90 text-text_subtle"
            />
          </Button>
        </a>
      </div>
    )
  }
</div>
