---
export interface Props {
  href: string;
}
const { href } = Astro.props;
---

<a
  class="flex flex-col min-h-9 max-w-64 px-4 py-2 text-sm font-medium! rounded-radius transition-colors cursor-pointer focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:bg-background-elevated/80"
  href={href}
>
  <slot />
</a>
