---
import { Icon } from "astro-icon/components";

import Button from "@/components/ui/Button.astro";
import CoreLayout from "@/layouts/CoreLayout.astro";
---

<CoreLayout>
  <div class="flex flex-col w-full">Something went wrong!!</div>
</CoreLayout>
