---
import type { ArticleProps } from "@/lib/types";
import { getCollection } from "astro:content";

import ArticleCard from "@/components/article/ArticleCard.astro";

const posts: ArticleProps[] = await getCollection("article").then(
  (entries: ArticleProps[]) =>
    entries
      .filter((entry) => !entry.data.draft)
      .sort((a: ArticleProps, b: ArticleProps) => {
        const aDate = new Date(
          a.data.modDatetime ?? a.data.pubDatetime
        ).valueOf();
        const bDate = new Date(
          b.data.modDatetime ?? b.data.pubDatetime
        ).valueOf();
        return bDate - aDate;
      })
      .slice(0, 3)
);
---

<div class="flex flex-col justify-around gap-8">
  {
    posts.map((post: ArticleProps) => (
      <div class="">
        <ArticleCard post={post} />
      </div>
    ))
  }
</div>
