---
import HeadSEO from "@/components/core/HeadSEO.astro";

import { LOCALE, SITE } from "config";

import type { BaseLayoutProps } from "@/lib/types";
import { capitalizeFirstLetter } from "@/lib/utils";
import Header from "@/components/core/Header.astro";
import Background from "@/components/core/Background.astro";
import BlobBackground from "@/components/core/BlobBackground.astro";

const { title, description, image, imageAlt, contentType } =
  Astro.props as BaseLayoutProps;
---

<html lang=`${LOCALE.lang ?? "en"}`>
  <head>
    <HeadSEO
      title=`${title ? capitalizeFirstLetter(title) : SITE.title}`
      description={description}
      image={image}
      imageAlt={imageAlt}
      contentType={contentType}
    />
  </head>

  <body>
    <!-- <BlobBackground /> -->
    <main class="flex flex-col items-center z-40">
      <!-- <div class="lg:hidden">
        <Background />
      </div> -->
      <Header />
      <div class="flex flex-col w-full min-h-screen items-center">
        <slot />
      </div>
    </main>
  </body>
</html>
